* {
    background: rgba(104, 1, 0, 0.7);
    primary: #ffb4a8;
    primary-fixed: #ffdad4;
    primary-fixed-dim: #ffb4a8;
    on-primary: #680100;
    on-primary-fixed: #410000;
    on-primary-fixed-variant: #930200;
    primary-container: #ff5540;
    on-primary-container: #000000;
    secondary: #ffb4a8;
    secondary-fixed: #ffdad4;
    secondary-fixed-dim: #ffb4a8;
    on-secondary: #680100;
    on-secondary-fixed: #410000;
    on-secondary-fixed-variant: #920502;
    secondary-container: #960903;
    on-secondary-container: #ffdcd7;
    tertiary: #ffb955;
    tertiary-fixed: #ffddb5;
    tertiary-fixed-dim: #ffb955;
    on-tertiary: #452b00;
    on-tertiary-fixed: #2a1800;
    on-tertiary-fixed-variant: #633f00;
    tertiary-container: #c3841c;
    on-tertiary-container: #000000;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #210e0b;
    on-surface: #ffdad4;
    on-surface-variant: #eabcb4;
    outline: #b18780;
    outline-variant: #5f3e39;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #ffdad4;
    inverse-on-surface: #422b27;
    inverse-primary: #c00200;
    surface-dim: #210e0b;
    surface-bright: #4c332f;
    surface-container-lowest: #1b0907;
    surface-container-low: #2a1613;
    surface-container: #2f1a17;
    surface-container-high: #3b2421;
    surface-container-highest: #472f2b;
}