* {
    background: rgba(39, 50, 53, 0.7);
    primary: #acccd3;
    primary-fixed: #c7e8ef;
    primary-fixed-dim: #acccd3;
    on-primary: #15353a;
    on-primary-fixed: #001f24;
    on-primary-fixed-variant: #2d4b51;
    primary-container: #547379;
    on-primary-container: #ffffff;
    secondary: #bcc9cb;
    secondary-fixed: #d8e5e7;
    secondary-fixed-dim: #bcc9cb;
    on-secondary: #273235;
    on-secondary-fixed: #121d20;
    on-secondary-fixed-variant: #3d494b;
    secondary-container: #3d494b;
    on-secondary-container: #d6e2e5;
    tertiary: #cfc1df;
    tertiary-fixed: #ecdcfc;
    tertiary-fixed-dim: #cfc1df;
    on-tertiary: #362c44;
    on-tertiary-fixed: #20172e;
    on-tertiary-fixed-variant: #4d425b;
    tertiary-container: #756984;
    on-tertiary-container: #ffffff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #121414;
    on-surface: #e3e2e2;
    on-surface-variant: #c1c8c9;
    outline: #8b9293;
    outline-variant: #414849;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e3e2e2;
    inverse-on-surface: #2f3131;
    inverse-primary: #456369;
    surface-dim: #121414;
    surface-bright: #38393a;
    surface-container-lowest: #0d0e0f;
    surface-container-low: #1a1c1c;
    surface-container: #1e2020;
    surface-container-high: #292a2a;
    surface-container-highest: #343535;
}