@import url("/home/cr1ogen/.cache/qtile_dotfiles/matugen_colors.css");

#notification {
    background-color: @bg-surface;
    border: 6px solid @color-primary;
    border-radius: 0px;
    padding: 16px;
    min-width: 360px; /* Forzamos un ancho mínimo de seguridad */
    min-height: 80px; /* Forzamos un alto mínimo de seguridad */
}    
    
    
.summary {
    color: @color-primary;
    font-weight: bold;
    font-size: 15px;
}

.body {
    color: @fg-on-surface;
    font-size: 13px;
}
