@import url("/home/cr1ogen/.cache/qtile_dotfiles/matugen_colors.css");

window {
    background-color: transparent;
}

#media-card {
    background-color: @bg-surface;
    border: 6px solid @color-primary;
    border-radius: 16px;
    padding: 12px;
    min-width: 400px; /* Ancho cómodo y seguro para los textos largos */
}

#media-cover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
}

#media-title {
    color: @color-primary;
    font-weight: bold;
    font-size: 14px;
}

#media-artist {
    color: @fg-on-surface;
    font-size: 12px;
    opacity: 0.7;
}
