window {
    background-color: alpha(#1e2020, 0.94);
    border-radius: 14px;
    border: 1px solid #8b9293;
}

label {
    color: #e3e2e2;
}

progressbar trough {
    min-height: 6px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.15);
}

progressbar progress {
    border-radius: 3px;
    background-color: #acccd3;
    border: none;
}

progressbar text {
    color: #c1c8c9;
}

button {
    background: transparent;
    border: none;
    padding: 4px 10px;
    color: #e3e2e2;
}

button:hover {
    background-color: #547379;
    border-radius: 8px;
}
